/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


/* Small devices (landscape phones, 576px and up) */
/* Small devices (phones, 576px and up) */
@media screen and (min-width: 576px) {
  .product-list {
    display: flex;
    justify-content: center;
    padding: 1px 2px 1px 2px;
  }
  .product-list .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
  }
  .product-list .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 210px;
    width: 200px;
    text-align: center;
    padding: 0 0;
    font-size: 30px;
  }
  .product-list .grid-container div a img {
    max-width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .product-list {
    display: grid;
    justify-content: center;
    padding: 1px 2px 1px 2px ;
  }
  .product-list .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-template-rows: auto auto;
  }
  .product-list .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 210px;
    width: 200px;
    text-align: center;
    padding: 0 0;
    font-size: 30px;
  }
  .product-list .grid-container div a img {
    max-width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .product-list {
    display: grid;
    justify-content: center;
    padding: 1px 2px 1px 2px;
  }
  .product-list .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
  }
  .product-list .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 210px;
    width: 200px;
    text-align: center;
    padding: 0 0;
    font-size: 30px;
  }
  .product-list .grid-container div a img {
    max-width: 100%;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .product-list {
    display: grid;
    justify-content: center;
    padding: 1px 2px 1px 2px ;
  }
  .product-list .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .product-list .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    height: 210px;
    width: 200px;
    text-align: center;
    padding: 0 0;
    font-size: 30px;
  }
  .product-list .grid-container div a img {
    max-width: 100%;
  }
}



/* Primary Elements */

* {
  box-sizing: border-box;
  font-family: "Montserrat",Verdana,Helvetica,sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat",Verdana,Helvetica,sans-serif;
}

/* header-element */

.header-element {
  font-size: 11px;
  color: #4d4d4d;
  padding-right: 13px;
}

.header-element:link{
  text-decoration: none;
  color:#4d4d4d;
}

.header-element:visited { 
  text-decoration: none; 
  color:#4d4d4d;
}

.header-element:hover{
  text-decoration: underline;
  color:#4d4d4d;
}



.registry-service:link{
  font-size: 14px;
  text-decoration: none;
  color:black;
  font-weight: 500;
}


.registry-service:hover{
  text-decoration: none;
}

.registry-service:active {
  color:#4d4d4d;
}

/* Header Elements */

.user-service {
  display: flex;
  justify-content: space-between;
  padding: 9px 10% 0px 10%;
}

.catalog-store {
  display: flex;
  justify-content: flex-start;
}

#user-profile {
  display: flex;
  justify-content:flex-end;
  color: #4d4d4d;
}

.logo {
  display: flex;
  height: 24px;
  padding: 0 0 0 18px;
  justify-content: center;

}

.customer-service{
  display: flex;
  justify-content: space-between;
  padding: 0 10% 17px 10%;
}

.registry-service {
  display: flex;
  justify-content: flex-start;
  vertical-align: bottom;
  padding: 0 13px 0 0;

}

.registry-service a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-right: 13px;
  padding-top: 25px;
}

.registry-service > a:hover {
  text-decoration: none;
}

.search-box {
  display: flex;
  justify-content:center;
  align-items: center;
  position: sticky;
  width: 300px;
  height: 40px;
  margin-top: 1%;
}

#header-search-box {
  width: 100%;
  padding-right: 25px;
  border-radius: 6px;
}

/* Navbar Elements */

nav {
  display: flex;
  justify-content: center;
  height: 35px;
  border-bottom: 0.5px solid rgb(203, 202, 202);
  border-top: 0.5px solid rgb(203, 202, 202);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: auto -5px;
  float: left;
}

nav ul li a {
  display: block;
  font-size: 12px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-right: 55px;
  text-decoration: none;
  font-weight: 500;
  padding: auto 15px;
}
nav ul li a:hover{
  text-decoration: none;
  color:#4d4d4d;
  
}

.nav-item ul {
  display: none; /* Hide the sub-navigation by default */
  position: absolute; /* Position it absolutely relative to the parent */
  background-color: #f9f9f9; /* Set a background color */
  padding: 0;
}

.nav-item:hover ul {
  display: block; /* Show the sub-navigation on hover */
  width: 63%;
  height: 63%;
  margin-left: 8px;  
}

nav .a:hover {
  border-bottom: 10px solid #4d4d4d;
}

/* Products */

.product-list {
  display: flex;
  justify-content: center;
  padding: 5% 30% 5% 30%;
}

.product-list .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  padding: 10px 15% 0 15%;
}

.product-list .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  height: 210px;
  width: 200px;
  text-align: center;
  padding: 0 0;
  font-size: 30px;
}

.product-list .grid-container div a img {
  width: 100%;
  height: auto;
}

.link-black {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  white-space:nowrap;
}

.product-item {
  color:#4d4d4d;
  text-transform: uppercase;
  font-size: 14px;
}

.link-black:hover {
  text-decoration: underline;
  color: #4d4d4d;

}

.text-center {
  text-align: center;
}

.hover-opacity {
  opacity: 1.0;
  transition: opacity 0.1s ease-in-out;
}

.hover-opacity:hover{
  opacity: 0.5;
}



.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgb(203, 202, 202);
  border-top: 0.5px solid rgb(203, 202, 202);
}

.contact .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  gap: 10px;


}

.contact .grid-container div :hover{
  color: #4d4d4d;
  text-decoration: none;

}

.contact .grid-container div a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

}

.contact .grid-container div a p  {
  color: #4d4d4d;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;


  
}

.contact .grid-container div a p:link{
  color: #4d4d4d;
  text-decoration: none;
}


/* footer Section */

.decorate {
  font-size:25px;
  font-family:"Kettering";
  color: #4d4d4d;
  text-decoration: none;
}
.decorate:hover{
  text-decoration: none;
  color:#4d4d4d;
  opacity: 0.5;
}

footer .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  grid-template-rows: auto;
  color: #4d4d4d;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
  max-width: 1280px;
  min-width: 767px;
  margin: 0 auto;
  padding-top: 30px;
}

footer .grid-container div {
  display: inline-block;
  white-space:nowrap;
  list-style-type:none;
}

footer .grid-container div ul {
  list-style-type: none;
}

footer .grid-container div h6 {
  display: block;
  font-size: 11px;
  font-weight: bold;

}

.text-black {
  font-size: 12px;
  text-decoration: none;
  color: #4d4d4d;

}

.text-black:hover{
  text-decoration: underline;
  color: #4d4d4d;
}

.site-info {
  color: #4d4d4d;
  font-size: 10px;
  padding:1px 37px 1px 37px ;
  text-decoration: none;
}

.site-info:hover{
  text-decoration: underline;
  color:#4d4d4d;
}


.companies-links{
  background-color: black;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.company {
  color: white;
  font-size: 12px;
  padding-right: 13px;
  text-decoration: none;
}

.company:hover{
  color:white;
}

.underline:hover{
  text-decoration: underline;
}

.credit{
  padding: 20px 2px 0;
  border: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  margin: 30px 0 0;
  width: 146px;
  height: 112px;
}

.credit a {
  padding: 0 5px 0;
  display: inline-block;
  text-align: center;
  margin: 7px 0 0;
  width: 146px;
  height: 80px;
  position: relative;
  text-decoration: none;
}


.credit a img {
  position:absolute;
  width: 90px;
  top: -60px;
  left: 25px;
}

.credit-card-text{
  font: 600 10px/1.2em "Montserrat", Verdana, Helvetica, sans-serif;
  text-transform: uppercase !important;
  color: #4d4d4d;
  font-weight: lighter;
}

.credit-card-text:hover{
  opacity: 0.5;
  text-decoration: none;
}

