/* For mobile phones:
[class*="col-"] {
  width: 100%;
}

@media screen and (max-width: 768px) {
} */

* {
  box-sizing: border-box;
  font-family: "Montserrat",Verdana,Helvetica,sans-serif;
  line-height: 1.42857;
  overflow:hidden;

}

body {
  margin: 0;
  font-family: "Montserrat",Verdana,Helvetica,sans-serif;
  color: black;
  font-size: 11px;
}

div {
  display: inline-block;

}

a {
  font-size: 11px;
  color: #4d4d4d;
  padding-right: 13px;
}

a:link{
  font-size: 11px;
  text-decoration: none;
  color:#4d4d4d;
}

a:visited { 
  text-decoration: none; 
  color:#4d4d4d;
}

a:hover{
  text-decoration: underline;
  color:#4d4d4d;
}

a:active {
  color:#4d4d4d;
}

.user-service {
  display: flex;
  justify-content: space-between;
  padding: 9px 140px 0px 140px;

}

.catalog-store {
  display: flex;
  justify-content: flex-start;
}

#user-profile {
  display: flex;
  justify-content:flex-end;
  color: #4d4d4d;
}

.website-logo {
  display:flex;
  justify-content: center;
}

.logo {
  background: no-repeat;
  display: flex;
  width: 376px;
  height: 41px;
  margin: 0;
  padding: 0 0 0 18px;
  background-position: center center !important;
}

.customer-service{
  display: flex;
  justify-content: space-between;
  padding: 2px 140px 22px 140px;
}

.registry-service{
  display: flex;
  justify-content: flex-start;
}

.registry-service a {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-right: 13px;

}

.registry-service > a:hover {
  text-decoration: none;

}

.search-box {
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  position: sticky;
  width: 300px;
  height: 40px;
}

#header-search-box {
  width: 100%;
  padding-right: 25px;
  border-radius: 6px;
}


/* nav bar */

nav {
  width: 100%;
  display: flex; /* Use flexbox to layout the items horizontally */
  justify-content: center; /* Add spacing between each item */
  background-color: white; /* Set a background color */
  color: black; /* Set the font color */
  font-size: 15px;
  text-align: center;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;

}

ul {
  list-style-type: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to layout the items horizontally */
  align-items: center; /* Center the items vertically */
}

li {
  padding: 1px ; /* Add some padding to the items */
}

li a {
  color: white; /* Set the font color */
  text-decoration: none; /* Remove underline from the links */
  text-align: center;
  align-items: center;
}

li:hover {
  background-color: white; /* Add background color on hover */
}

li ul {
  display: none; /* Hide the sub-navigation by default */
  position: absolute; /* Position it absolutely relative to the parent */
  background-color: #f9f9f9; /* Set a background color */
  padding: 0;
}

li:hover ul {
  display: block; /* Show the sub-navigation on hover */
  
}

nav .a:hover {
  border-bottom: 10px solid red;
}

li ul li {
  display: block; /* Display the sub-navigation items vertically */
}

li ul li a {
  color: white; /* Set the font color */
}


/* End of navbar*/






.grid-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.text-center {
  text-align: center;
}

.hover-opacity {
  opacity: 1.0;
  transition: opacity 0.1s ease-in-out;

}

.hover-opacity:hover{
  opacity: 0.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}